<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="website icon" href="youtube.jpg">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube</title>    
</head>
<body>
    <div></div>
    <header class="header">
        <i id="menu" class="material-icons">menu</i>
        <img src="YouTube_header.png" height="40" width="130">
    </header>
    <div class="sidebar">
        <a class="active" href="home">Home</a>
        <a href="shorts">Shorts</a>
        <a href="random">Random Videos</a>
        <a href="library">Library</a>
    </div>
    <div class="content">
        
    </div>
</body>
</html>